<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Load Vue devtools if in development -->
    <% if (htmlWebpackPlugin.options.environment === 'development') { %>
    <script src="http://localhost:8098"></script>
    <% } %>
  <!-- webex space widget -->
  <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
  <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
  
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>ISG Webex Demo on dCloud</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
